.image{
  width: 100%;
}

#one{
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 1;
  top: 450px;
  right: 42%;
}

#two{
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 1;
  bottom: 100px;
  right: 100px;
}

#three{
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 1;
  top: 200px;
  right: 27%;
}

#four{
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 1;
  bottom: 300px;
  right: 26%;
}

#five{
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 1;
  bottom: 350px;
  right: 150px;
}

#container{ 
  width: 100%;
}
