#one{
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 1;
  top: 100px;
  right: 50px;
}

#two{
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 1;
  top: 750px;
  right: 200px;
}

#three{
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 1;
  bottom: 150px;
  right: 600px;
}

#four{
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 1;
  bottom: 300px;
  left: 50%;
}

#image{
  position: relative;
  width: 100%;
}

